[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = git@github.com:amSangi/entt.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:amSangi/googletest.git
[submodule "thirdparty/sfml"]
	path = thirdparty/sfml
	url = git@github.com:amSangi/SFML.git
