[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/amSangi/entt.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/amSangi/googletest.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/amSangi/assimp.git
