[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/amSangi/entt.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/amSangi/googletest.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/amSangi/assimp.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
